/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space_between;
  background-color: #292929;/* Dark background */
  border-radius: 10px; /* curved borders*/  
  margin: 0;
  margin-right: 75;  /* adds space to the right margin */
  margin-left: 75; /* adds apace to the left */
  margin-top: -25;  /* removes space from the top */
  margin-bottom: 0;
  padding: 1rem 2rem; /* Define height */
}

.container {
  display: flex;
  justify-content: center; /* Links on the left, icons on the right */
  align-items: center; /* Center vertically */
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 8rem; /* Even spacing between links */
  padding-left: 5rem;
  padding-right: 5rem;
}

/* navigation buttons on the navigation bar*/
.nav-links li a {
  text-decoration: none;
  color: #6B6B6B;
  font-size: 1rem;
  transition: color 0.3s, text-shadow 0.3s;
  font-family: 'IBM Plex Mono', monospace;
}

/* Green on hover */
.nav-links li a:hover {
  color: #57C400; 
  text-shadow: 0 0 10px #00ff00;
}

/* Social Media Icons */
.nav-icons {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-icons a {
  color: #6B6B6B;
  font-size: 1rem; /* Size of icons */
  transition: color 0.3s, transform 0.3s;
}

.nav-icons a:hover {
  color: #00ff00; /* Green on hover */
  transform: scale(1.2); /* Slightly enlarge */
}
